<template>
  <section class="w-full">
    <div class="border border-black border-r-0 border-t-0 border-l-0 border-b-2 w-full pb-6 pl-6">
      <h1 class="title inline">
        power-grid
      </h1>
      <button 
        @click="on = !on"
        class="inline bg-blue-lighter text-blue-darker rounded border border-blue py-2 px-4"
      >
        Spin
      </button>
    </div>
    
    <div class="p-6">  
      <img src="~/assets/images/BG.png" class="absolute z-0" />
      <Generator :on="on" class="absolute w-12" id="gen1" />
      <Generator :on="on" class="absolute w-12" id="gen2" />
      <Generator :on="on" class="absolute w-12" id="gen3" />

      <Meter class="absolute" id="meter1" />
      <Meter class="absolute" id="meter2" />
      <Meter class="absolute" id="meter3" />
      <Meter class="absolute" id="meter4" />
      <Meter class="absolute" id="meter5" />
      <Meter class="absolute" id="meter6" />

      <Arrow class="absolute z-10 w-6 arrow-left" id="arrow-1" />
      <Arrow class="absolute z-10 w-6" id="arrow-2" />
<!-- class="mt-32 pl-2 w-12" -->
    </div>
  </section>
</template>

<script>
import Generator from '~/components/generator.vue'
import Meter from '~/components/meter.vue'
import Arrow from '~/components/Arrow.vue'

export default {
  components: {
    Generator,
    Meter,
    Arrow
  },
  data: () => {
    return {
      on: false
    }
  }
}
</script>

<style>
.container {
  margin: 0px;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
}

.arrow-left {
  transform: scaleX(-1);
}

#gen1 {
  margin-top: 7.4rem;
}
#gen2 {
  margin-left: 40.5rem;
  margin-top: 1.2rem;
}
#gen3 {
  margin-left: 17.6rem;
  margin-top: 21.4rem;
}

#meter1 {
  width: 4rem;
  margin-left: 8rem;
  margin-top: -0.5rem; 
}
#meter2 {
  width: 4rem;
  margin-left: 31rem;
  margin-top: -0.5rem; 
}
#meter3 {
  width: 4rem;
  margin-left: 8rem;
  margin-top: 7rem; 
}
#meter4 {
  width: 4rem;
  margin-left: 15rem;
  margin-top: 11rem; 
}
#meter5 {
  width: 4rem;
  margin-left: 29rem;
  margin-top: 9rem; 
}
#meter6 {
  width: 4rem;
  margin-left: 24rem;
  margin-top: 14rem; 
}

#arrow-1 {
  /* margin-left: 4rem; */
  margin-top: 0.8rem;
  -webkit-animation: a-1-slide 2s linear infinite;
}
@-webkit-keyframes a-1-slide {
    from{
      /* translate: (0rem); */
        margin-left:4rem;     
    }
    to{
      /* translate: (8rem); */
        margin-left: 1rem;
    }
}
#arrow-2 {
  /* margin-left: 4rem; */
  margin-top: 8.4rem;
  -webkit-animation: a-2-slide 2s linear infinite;
}
@-webkit-keyframes a-2-slide {
    from{
      /* translate: (0rem); */
        margin-left:2rem;     
    }
    to{
      /* translate: (8rem); */
        margin-left: 4rem;
    }
}

</style>
