<template>
  <div 
    class="generator"
    :class="{'generator-on': on}"
  >
    <img src="~/assets/images/testgen.png" />
  </div>
</template>

<script>
export default {
  props: {
    on: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style>
.generator-on {
    -webkit-animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}
</style>
